<div class="work" fxLayout="column" fxLayoutAlign="space-around none">
    <div fxFlex="45">
        <mat-card class="example-card" fxLayout="row">
            <div fxFlex="80">
                <mat-card-title fxLayoutAlign="center">Continental</mat-card-title>
                <div class="mat-card-content" fxLayout="column">
                    <div>
                        <p class="title">{{dates}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{dateConti}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{posicion}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{posicionConti}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{funciones}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{funcionesConti}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{jefe}}: </p>
                        <div fxFlex="2"></div>
                        <p>Eden Flores. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{mail}}: </p>
                        <div fxFlex="2"></div>
                        <p>eden.flores@continental-corporation.com</p>
                        <div fxFlex="1"></div>
                    </div>
                </div>
            </div>
            <div fxFlex="20">
                <img src="assets/images/conti.png" width="60" height="60">
            </div>
        </mat-card>
    </div>
    <br><br>
    <div fxFlex="45">
        <mat-card class="example-card" fxLayout="row">
            <div fxFlex="80">
                <mat-card-title fxLayoutAlign="center">Grupo Milenio</mat-card-title>
                <div class="mat-card-content" fxLayout="column">
                    <div>
                        <p class="title">{{dates}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{dateMilenio}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{posicion}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{posicionMilenio}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{funciones}}: </p>
                        <div fxFlex="2"></div>
                        <p>{{funcionesMilenio}}. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{jefe}}: </p>
                        <div fxFlex="2"></div>
                        <p>Juan Luis Rodríguez Udave. </p>
                        <div fxFlex="1"></div>
                    </div>
                    <div>
                        <p class="title">{{mail}}: </p>
                        <div fxFlex="2"></div>
                        <p>juan.rodriguezu@milenio.com</p>
                        <div fxFlex="1"></div>
                    </div>
                </div>
            </div>
            <div fxFlex="20">
                <img src="assets/images/milenio.png" width="60" height="60">
            </div>
        </mat-card>
    </div>
</div>