<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-lg>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <span>Alejandro Ortega</span>
        <!--<div fxShow="true" fxHide.lt-md *ngFor="let item of menu">
            <a href="#" mat-button>
                <mat-icon>{{item.icon}}</mat-icon>{{item.nombre}}
            </a>
        </div>-->
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a fxLayoutAlign="center" (click)="sidenav.toggle" mat-list-item><mat-icon class="red">clear</mat-icon>Close</a>
            <div *ngFor="let item of menu"> 
                <div><br></div>
                <a href="{{item.path}}" mat-button>
                    <mat-icon>{{item.icon}}</mat-icon>&nbsp;&nbsp;{{item.nombre}}
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill mode="false">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>